:root {
  --lightBackground: #d8d8d8;
  --darkColor: rgb(49, 48, 48);
  --lightPurple: #A974EA;
  --whiteText: white;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: var(--lightBackground);
}

.main-header {
  padding: 50px;
  background-color: var(--darkColor);
  color: var(--lightPurple);
  border-bottom: 5px solid var(--lightPurple);
}

.main-header h1 {
  display: inline;
  font-size: 48px;
  background-color: var(--lightPurple);
  padding: 15px;
  color: var(--darkColor);
  border-radius: 20px;
  border: 3px solid var(--lightBackground);
}

.main-header nav {
  text-decoration: none;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 25px;
}

.main-header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
  border: 3px solid;
  padding: 15px;
  background-color: var(--lightBackground);
  border-radius: 20px;
}

.aboutMe {
  padding: 15px;
}

.header {
  font-size: 50px;
  text-align: center;
  padding: 15px;
}

.aboutMe p {
  text-align: center;
  font-size: 25px;
}

.contactMe ul li {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  padding: 50px;
}

.selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--darkColor);
  border-radius: 150px;
}

.projectShowcase {
  display: block;
  align-items: center;
}

.card {
  position: relative;
}

.card, .paragraph {
  border: 5px solid var(--darkColor);
  border-style: solid none;
  margin: 50px;
  padding: 50px;
  border-radius: 50px;
}

.mainImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border: 4px solid var(--lightPurple);
}

.mainTextBlock {
  position: absolute;
  color: var(--whiteText);
  padding: 10px 20px 10px 10px;
  margin-left: 56.7%;
  background-color: var(--lightPurple);
}

.smallImg {
  border: 4px solid var(--lightPurple);
  margin: 1.65%;
}

.row {
  display: flex;
  margin-top: 5%;
  padding: 30px;
  margin: 6%;
}

.smallTextBlock1, .smallTextBlock2, .smallTextBlock3 {
  position: absolute;
  background-color: var(--lightPurple);
  color: var(--whiteText);
  padding: 5px 5px 5px 5px;
  margin-top: 17.2%;
}

.smallTextBlock1 {
  margin-left: 24.7%;
}

.smallTextBlock2 {
  margin-left: 48.85%;
}

.smallTextBlock3 {
  margin-left: 73.05%;
}

.contactMe ul {
  text-align: center;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}